rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/researchHistory/{researchId} {
      allow get, create, update, delete: if request.auth != null && request.auth.uid == userId;
      allow list: if request.auth != null && request.auth.uid == userId;
    }
  }
}
